
.container {
  padding: 50px 35px 0;
}

.topContainer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top h1 {
  color: #fff;
  /* font-size: 53px; */
  font-size: 50px;
  font-weight: bold;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
  /* text-shadow: 0px 0px 4px rgba(0,0,0,0.3); */
  -moz-text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.85);
  -webkit-text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.85);
  -ms-text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.85);
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.85);
  display: inline-block;
}

.top img {
  /* width: 11%; */
  width: 16%;
  margin-left: 10px;
  vertical-align: bottom;
}

.top .border {
  height: 1px;
  width: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.8);
  margin: 15px 0 5px;
}

.top p {
  color: #fff;
  text-align: center;
  font-size: 22px;
}

/* btns */
.btns {
  background: rgba(255, 255, 255, 0.5);
  padding: 17px;
  margin-top: 22px;
}

.btns ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btns li {
  margin-bottom: 17px;
  border-radius: 4px;
  box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.35);
  position: relative;
}

.btns li img {
  position: absolute;
  top: 50%;
  right: 8%;
  width: 5%;
  transform: translateY(-50%);
}

.btns li:last-of-type {
  margin-bottom: 0;
}

.btns a {
  color: #232323;
  background: #fff;
  border-radius: 4px;
  display: block;
  width: 255px;
  height: 85px;
  line-height: 85px;
  font-size: 28px;
  text-align: center;
}

/* bottom logo & QR */
.bottom {
  /* position: relative; */
  /* background-color: lightcyan; */
  /* margin-top: 45px; */
  /* position: absolute;
  right: 35px;
  bottom: 55px; */
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bottom img:first-of-type {
  width: 57%;
  margin: 0 auto;
  display: block;
}

.bottom img:last-of-type {
  width: 17%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


/* ====== TABLET ======= */
@media screen and (max-width: 820px) {
  .container {
      padding: 6% 4% 0;
  }

  .top h1 {
      /* font-size: 8.3vw; */
      font-size: 7.8vw;
      letter-spacing: 0.01em;
      font-weight: bold;
      /* text-shadow: 0px 0px 4px rgb(0 0 0 / 30%); */
      -moz-text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.85);
      -webkit-text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.85);
      -ms-text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.85);
      text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.85);
  }

  .top .border {
      margin: 3% 0 2%;
  }

  .top p {
      /* font-size: 4vw; */
      font-size: 3.44vw;
  }

  /* btns */
  .btns {
      padding: 4%;
      margin-top: 4%;
  }

  .btns a {
      color: #232323;
      background: #fff;
      border-radius: 4px;
      display: block;
      width: 40vw;
      height: 14vw;
      line-height: 14vw;
      font-size: 5.5vw;
      text-align: center;
  }

  .btns li {
      margin-bottom: 4%;
  }

}

/* iPadが横向きの時のスタイル */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape){


  .bottom {
      margin-top: 15px;
  }
}

/* スマホ */
@media screen and (max-width: 414px) {

  .top h1 {
      /* font-size: 8.4vw; */
      letter-spacing: 0.005em;
  }

  .top p {
      /* font-size: 3.6vw; */
      font-size: 4vw;
  }

  .top img {
      margin-left: 1%;
  }
}